@model EventManagement.ViewModels.MemberViewModel

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <button type="button" class="btn mb-1 btn-info" data-toggle="modal" data-target="#exampleModal">
            Add New Festival <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
        </button>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Festivals</a></li>
        </ol>
    </div>
</div>
<!-- row -->
<!-- Add/Edit Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Festival</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="festivalForm">
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label">Name: <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Enter Festival Name" class="form-control" asp-for="Name" id="Name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveFestival">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">List Of Festivals</h4>
                    <div class="table-responsive">
                        <table id="festivalList" class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/festival/festival.js"></script>
}